@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@media screen and (min-device-width: 320px) 
and (max-device-width: 480px) {
    body {
        background:hsl(30, 38%, 92%);
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-component img {
        height: 250px;
        border-radius: 1rem;
        margin-top: 2rem;
        border-bottom: 30rem solid white;
       
    }
    .text-component {
        margin-top: -29rem;
        margin-left: 1rem;
        font-family: 'Montserrat', sans-serif;
        color:  hsl(228, 12%, 48%);
        letter-spacing: 1px;
        line-height: 1.5;
        
      
    }
    .text-component .title {
        letter-spacing: 5px;
        font-size: small;
        color:  hsl(228, 12%, 48%);
        line-height: 30px;
        margin-left: 1rem;
       
    }
    .text-component h1 {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 36px;
        color:black;
        line-height: normal;
        margin-left: 20px;
        margin-top: 4px;
       
    }
    .text-component p {
        margin-left: 19px;
        font-size: smaller;
        line-height: 2;
        font-size: 17px;
        margin-top: -11px;
      }
    
    .text-component .cost {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        color: hsl(158, 36%, 37%);
       font-size: 32px;
        margin-left: 20px;
    }
    .text-component .cart-icon img {
        position: absolute;
        height: auto;
        width: 20px;
        margin-top: 2rem;
        margin-left: 7rem;
        z-index: 1;
        height: 20px;
        position: fixed;

    }
   .text-component .discount {
        text-decoration: line-through;
        margin-bottom: 1rem;
    }
    button {
        font-family: 'Montserrat', sans-serif;
        background-color: hsl(158, 36%, 37%);
        border:none;
        color: white;
       width: 320px;
       height: 50px;
       margin-top: 1rem;
       border-radius: 5px;
       font-weight: bold;
       position: fixed;
       margin-left: 20px;
       cursor: pointer;
       position: fixed;
    }
    button:hover {
        cursor: pointer;
        background-color: rgb(26, 64, 49);
    }


    }
    